[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
iu-mongo = {editable = true,path = "."}

[scripts]
test_all = "python -Wd -m unittest -v tests"
test_single = "python -Wd -m unittest -v"

[dev-packages]
autopep8 = "*"
